# --- macOS ---
**/.DS_Store

# --- VS Code ---
.vscode/
*.code-workspace

# --- LaTeX ---
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lot
*.lof
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdf

# --- Python / YOLO ---
__pycache__/
*.pyc
.venv/
venv/
**/*.pt
datasets/
runs/