# macOS
.DS_Store

# --- LaTeX ---
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lot
*.lof
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdf

# --- Python / YOLO ---
__pycache__/
*.pyc
.venv/
venv/
*.pt
YOLO/Yolo-Weights/